{% extends "news/base_form.html"%}


{% block content %}
<style>
    /* Прозрачность для каждого блока */
    .ukraine {
        background-color: rgba(128, 128, 128, 0.5);
        padding: 20px;
        margin-bottom: 50px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .opacities {
        background-color: rgba(128, 128, 128, 0.5);
        padding: 20px;
        margin-bottom: 50px;
        margin-bottom: 20px;
        
    }

</style>

<div class="ukraine">
<div class="ukraineH2 H2alike">
	<div class="news__title__h2"><h2>Спорт</h2></div>
	<div class="ukraineLink LinkAlike">
                <a href="{% url 'news:all_sports'%}">
                        <h2 class="ukraineLinkH2 LinkH2Alike">Дивитись всі:</h2></a>
                </div>
</div>
<div class="ukraineBlock BlockAlike">
        {% for sport in sport_items %}
                <div class="blockComingUK opacities"> 
                        <a class="blockComingUK_link clink" href="{% url "news:one_sport" sport.title %}"> 
                        <div class="blockComing_flex"> 
                                <img src={{sport.image_url}} width="" height="" alt={{sport.title}}> 
                        <div>
                        <div class="fa_icon_div_outFlex"> <i class="fa fa-calendar" aria-hidden="true"></i> 
                                <span class="">{{sport.date_of}} {{sport.time_of}}</span> </div>
                        <span class="blockComing_span">{{sport.title}}</span> 
                </div> </div> </a> </div>
        {% endfor %}
</div></div>
{% endblock %}