{% extends "news/base_form.html" %}

{% block content %}
<style>
    .article-content {
        {% comment %} max-width: 800px; {% endcomment %}
        margin: 0 auto;
        background-color: rgba(128, 128, 128, 0.2);
        padding: 20px;
    }
    .article-content p {
        text-align: justify;
        text-justify: inter-word;
    }
    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="row mt-5">
    <div class="mx-auto">
        <div class="article-header mb-4 bg-light p-3 rounded">
            <h2>{{ sience.title }}</h2>
            <p class="article-meta">{{ sience.date_of }} {{ sience.time_of }}</p>
        </div>
        <div class="article-body mb-4 text-justify bg-light p-3 rounded">
            <div class="article-content">
                <img src="{{ sience.image_url }}" class="img-fluid mb-3 center-block" alt="{{ sience.title }}">
                {{ sience.content | safe }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
