{% extends "users/base_form.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Edit Contact</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                    <a href="{% url 'users:contacts' %}" class="btn btn-back d-block w-100 mb-3"><i class="fas fa-arrow-left me-1"></i> Back to Contacts</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="success-message" style="display: none; color: green;">Contact successfully deleted.</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteForm = document.getElementById('delete-contact-form');
        var deleteButton = document.getElementById('delete-button');
        deleteButton.addEventListener('click', function (event) {
            event.preventDefault(); 
            fetch(deleteForm.action, {
                method: deleteForm.method,
                body: new FormData(deleteForm),
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(function (response) {
                if (response.ok) {
                    document.getElementById('success-message').style.display = 'block';
                    setTimeout(function () {
                        window.location.href = '{% url "users:contacts" %}';
                    }, 3000);
                } else {
                    console.error('Error deleting contact:', response.statusText);
                }
            })
            .catch(function (error) {
                console.error('Error deleting contact:', error);
            });
        });
    });
</script>
{% endblock %}
