{% extends "users/base_form.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Password reset complete!</h2>
                    <p class="card-text">Your password has been successfully reset.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}