{% extends "users/base_form.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Password Reset</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_email">Email</label>
                            <input type="email" class="form-control {% if form.email.value %}is-valid{% elif form.email.value == '' %}is-invalid{% endif %}" id="id_email" name="email">
                            <div class="invalid-feedback">
                                Please provide a valid email.
                            </div>
                        </div>
                        <div class="pass-submit"> 
                            <button type="submit" class="btn btn-success btn-block">Request Password Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-6 text-center">
            <a href="{% url 'users:profile' %}" class="btn btn-secondary">Back to Profile</a>
        </div>
    </div>
</div>
{% endblock %}