{% extends "users/base_form.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/style.css' %}">
<div class="container profile-container">
    <div class="btn-group mt-3" role="group" aria-label="Basic example">
        <a href="{% url 'users:contacts' %}" class="btn btn-work btn-sm">My Contacts</a>
        <a href="{% url 'app_photo:gallery' %}" class="btn btn-work btn-sm">Gallery</a>
        <a href="{% url 'notes:notes_list' %}" class="btn btn-work btn-sm">My Notes</a>
        <a href="{% url 'users:password_reset' %}" class="btn btn-primary btn-sm reset-password">Reset Password</a>
        <a href="{% url 'users:logout' %}" class="btn btn-danger btn-sm">Logout</a>
    </div>
    <div class="avatar-container ">
        <h4 class="name-profille">{{ user.username }}</h4>   
        <img src="{{ profile.avatar }}" alt="Avatar of user" class="avatar-img img-fluid rounded-circle">
    </div>
    <form id="avatar-form" action="{% url 'users:add_avatar_url' %}" method="post" enctype="multipart/form-data" class="avatar-input form-left-margin">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-6 ">
                <label for="id_avatar" class="small mb-2">Choose a new avatar:</label>
                <div class="form-group">
                    {{ profile_form.avatar }}
                    <span class="text-danger">{{ profile_form.avatar.errors }}</span>
                </div>
            </div>
        </div>
        <div class="btn-for-avatar">
            <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
            <button type="reset" class="btn btn-danger btn-sm ml-2">Reset</button>
        </div>
    </form>
</div>
{% endblock %}


