{% extends "news/base_form.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/style.css' %}">
<div class="profile-container">
    <h1>Profile: {{ user.username }}</h1>
    <img src="{{profile.avatar}}" alt="Avatar of user">
</div>
<form action="{% url 'users:add_avatar_url' %}" method="post" enctype="multipart/form-data" class="avatar-input">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="id_avatar" class="small mb-1">Change Avatar:</label>
                {{ profile_form.avatar }}
                {{form.avatar}}
                <span>{{ profile_form.avatar.errors }}</span>
            </div>
        </div>
    </div>
    <div class="btn-grid">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>

</form>

<div class="btn-group">
    <a href="{% url 'users:logout' %}" class="btn btn-danger">Logout</a>
    <a href="{% url 'users:password_reset' %}" class="btn btn-primary">Reset Password</a>
    <a href="{% url 'users:contacts' %}" class="btn btn-secondary login-button">Contacts</a>
    <a href="{% url 'app_photo:gallery' %}" class="btn btn-secondary login-button">Galery</a>
    <a href="{% url 'notes:notes_list' %}" class="btn btn-primary">My Notes</a>
</div>
{% endblock %}