{% extends "users/base_form.html" %}
{% block content %}
<div class="password-reset-form d-flex justify-content-center align-items-center ">
    <div class="card p-5">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Enter new password</h2>
            <form method="post" id="password-reset-form" class="needs-validation" novalidate>
                {% comment %} {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                    <div class="invalid-feedback">
                        {{ field.errors|join:", " }}
                    </div>
                    {% endif %}
                </div>
                {% endfor %} {% endcomment %}
                {% csrf_token %}
                {{ form.as_p }}
                <div id="password-error-msg" class="text-danger mb-3" style="display: none;"></div>
                <div class="save-new-pass">
                    <div class="confirm-pass-btn">
                        <button type="submit" class="btn btn-success">Save new password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% comment %} <script>
document.getElementById('password-reset-form').addEventListener('submit', function(event) {
    var password1 = document.getElementById('id_password1').value;
    var password2 = document.getElementById('id_password2').value;
    var errorDiv = document.getElementById('password-error-msg');
    
    if (password1 === '' || password2 === '') {
        errorDiv.textContent = "Please fill in both password fields.";
        errorDiv.style.display = 'block';
        event.preventDefault();
    } else if (password1 !== password2) {
        errorDiv.textContent = "Passwords do not match.";
        errorDiv.style.display = 'block';
        event.preventDefault();
    } else {
        errorDiv.textContent = "";
        errorDiv.style.display = 'none';
    }
});
(function() {
  'use strict';
  window.addEventListener('load', function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script> {% endcomment %}
{% endblock %}
