{% extends "users/base_form.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="password-reset-sent text-center">
                        <h2>Password reset request sent</h2>
                        <p>We've emailed you with instructions on how to reset your password.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
