{% extends "users/base_form.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Upcoming Birthdays</h2>
                    <form method="GET" action="{% url 'users:upcoming_birthdays' %}">
                        <div class="mb-3">
                            <label for="days" class="form-label">Enter number of days:</label>
                            <input type="number" id="days" name="days" value="{{ days }}" min="1" max="365" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <hr>
                    <ul class="list-group">
                    {% for contact in upcoming_contacts %}
                        <li class="list-group-item">{{ contact.name }} - {{ contact.birthday }}</li>
                    {% empty %}
                        <li class="list-group-item">No upcoming birthdays</li>
                    {% endfor %}
                    </ul>
                    <a href="{% url 'users:contacts' %}" class="btn btn-back d-block "><i class="fas fa-arrow-left me-1"></i> Back to Contacts</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
