@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* 1 */
.get_for_form {
    display: flex;
    gap: 1px;
}

.get_for_input {
    width: 305px;
    padding: 5px;
    outline: none;
    border: 1px solid #eb6e16;
    border-radius: 4px;
    font: 17px 'Lato', Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}

.get_for_button {
    width: 110px;
    border: none;
    border-radius: 4px;
    color: #fafafa;
    font: 700 17px 'Lato', Arial, Helvetica, sans-serif;
    background-color: #eb6e16;
    transition: .4s;
    cursor: pointer;
}

.get_for_button:hover {
    background-color: #5134d1;
}

.get_weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    max-width: 1900px;
    height: 150px;
    margin-top: 5px;
    padding: 5px;
    border: 2px solid #eb6e16;
    border-radius: 4px;
    background-color: #83eaf1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: url('background_img.jpg');
    background-size: cover;
    background-position: center;
}

.get_city {
    overflow: hidden;
    display: block;
    width: 180px;
    margin-bottom: 5px;
    color: #eb6e16;
    font-size: 27px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.get_for_img {
    position: absolute;
    top: -9px;
    right: -9px;
    width: 80px;
    height: 80px;
}

.get_temp {
    color: #0060ff;
    font-size: 30px;
    font-weight: 900;
    text-align: right;
    position: absolute;
    top: 87px;
    right: 6px;
    width: 80px;
    height: 80px;
}

.get_for_spans {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.get_for_b {
    color: #eb6e16;
}

.get_right {
    position: relative;
    padding-top: 60px;
}

/* 2 */

.weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    height: 150px;
    margin-top: 5px;
    padding: 5px;
    border: 2px solid #eb6e16;
    border-radius: 4px;
    background-color: #83eaf1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: url('background_img.jpg');
    background-size: cover;
    background-position: center;
}

.city {
    overflow: hidden;
    display: block;
    width: 180px;
    margin-bottom: 5px;
    color: #eb6e16;
    font-size: 17px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.for_img {
    position: absolute;
    top: -9px;
    right: -9px;
    width: 80px;
    height: 80px;
}

.temp {
    color: #0060ff;
    font-size: 18px;
    font-weight: 900;
    text-align: right;
    position: absolute;
    top: 117px;
    right: -2px;
    width: 80px;
    height: 80px;
}

.for_spans {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.for_b {
    color: #eb6e16;
}

.right {
    position: relative;
    padding-top: 60px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.top_container {
    text-align: left;
    margin-bottom: 40px;
    padding: 10px;
    background: linear-gradient(#382288, #f3d840, #415c7a);
}

.button_main {
    position: relative;
}

.button_main .login-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 130px;
    margin-top: -45px;
}

.button_main .signup-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: -45px;
}

.button_main .profile-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: -45px;
}

.main_head_title {
    font-size: 50px;
    background: linear-gradient(#801010, #0d0e0d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Стили для контейнера на широких экранах */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Стили для колонки col-md-8 */
.col-md-8 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Стили body */
html,
body {

    height: 100%;
    margin: 1px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 1.5;
    font-family: "Open Sans", serif;
    color: #212121;
    /* background: linear-gradient(#99a4b1, #f3d840, #382288); */
    background-color: #fff;
    background-image: url('main_index.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.main-content {
    flex: 1 0 auto;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #dee03f;
    padding: 20px 0;
}

.footer .container {
    padding: 1px 0;
}

.col-md-12 text-right {
    float: right;
    margin-top: 100px;
}

.footer_container {
    background: linear-gradient(#99a4b1, #f3d840, #382288);
}

.footer_text {
    color: #0d3c8d !important;
    font-size: 40px;

}

/* Styles for main page */
.blockComingUK {
    width: 24%;
    display: block;
    unicode-bidi: isolate;
}

.H2alike {
    background: #212121;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.LinkH2Alike {
    font-size: 18px;
    padding-right: 15px;
    color: #67c8cf;
    text-decoration: underline;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}


h2 {
    font-size: 27px;
    line-height: 34px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: 'Russo One';
}

.BlockAlike {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1px 1px;
}

.blockComing_flex img {
    width: 100%;
    margin-bottom: 15px;
    object-fit: cover;
}

.blockComing_flex {
    height: 100%;
}

.btn {
    width: 100px;
    height: 35px;
    border-radius: 20px;
}

.login-button {
    color: #000000;
    background-color: #14bed4;
    border-color: #14bed4;
}

.login-button:hover {
    color: #ffffff;
    background-color: #29a744;
    border-color: #29a744;
}

.profile-button {
    color: #000000;
    background-color: #14bed4;
    border-color: #14bed4;
}

.profile-button:hover {
    color: #ffffff;
    background-color: #29a744;
    border-color: #29a744;
}

.signup-button {
    color: #000000;
    background-color: #14bed4;
    border-color: #14bed4;
}

.signup-button:hover {
    color: #ffffff;
    background-color: #29a744;
    border-color: #29a744;
}