.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    width: 1170px;
}


.col-md-8 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}