/* Customs styles from profile */
/* Закругляем все кнопки */
.btn {
    border-radius: 20px; /* Увеличиваем радиус закругления */
}

/* Стили для кнопки "Reset Password" */
.reset-password {
    color: #111111;
    background-color: #dc3545;
    border-color: #dc3545;
}

.reset-password:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Стили для кнопки "Logout" */
.btn-danger {
    color: #000000;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Стили для кнопки "Gallery My Notes Contacts" */
.btn-work {
    color: #000000;
    background-color: #2082d3;
    border-color: #2082d3;
}

.btn-work:hover {
    color: #ffffff;
    background-color: #063469;
    border-color: #063469;
}

/* Уменьшаем размер аватара */
.avatar-img {
    width: 150px; /* Пример: уменьшаем ширину до 100px */
    height: auto; /* Сохраняем пропорции */
}

.btn-success {
    color: #000000;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-success:hover {
    color: #ffffff;
    background-color: #29a744;
    border-color: #29a744;
}

.form-left-margin {
    margin-top: 20px;
    margin-right: 800px; 
}

.btn-for-avatar{
    margin-top: 10px;
}


.name-profille{
    margin-top: 10px;
}
