.pager {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pager {
    padding-left: 0;
    margin: 22px 0;
    list-style: none;
    text-align: center;
}

.pager li {
    display: inline;
}

.pager .next>a,
.pager .next>span {
    float: right;
}

.pager li>a,
.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
}

.disabled {
    color: #333333
}

.pagination-nav {
    text-align: left;
}

.pager {
    padding-left: 0;
    margin: 22px 0;
    list-style: none;
    text-align: center;
}

.pager li {
    display: inline;
    margin-right: 300px;
    /* Добавьте отступ между элементами списка */
}

.pager .previous {
    float: left;
    /* Выравниваем "Previous" слева */
}

.pager .next {
    float: right;
    /* Выравниваем "Next" справа */
}

.pager .previous a,
.pager .next a {
    padding: 5px 35px;
    /* Уменьшаем отступы кнопок */
}

.pager .previous {
    margin-left: 300px;
    /* Добавляем отступ слева для кнопки "Previous" */
}

.pager .next {
    margin-right: 300px;
    /* Добавляем отступ справа для кнопки "Next" */
}



/* Стили для арточек ввода файлов"Reset Back" */
.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.card-text {
    margin-bottom: 10px;
}

.btn {
    margin-right: 5px;
}
