{% extends "users/base_form.html" %}
{% block content %}
<div class="container form-control">
    <h1>Notes with Tag: {{ tag }}</h1>
    <ul class="list-group">
        {% for note in notes %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-10">
                    <h4>{{ note.content }}</h4>
                </div>
                <div class="col-md-2">
                    <div class="" role="group" aria-label="Note Actions">
                        <a href="{% url 'notes:edit_notes' note.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'notes:delete_notes' note.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
