{% extends "users/base_form.html" %}
{% block content %}
<div class="container mt-3">
    <h1>Інші файли:</h1>

    <div class="row">
        {% for data in image_data %}
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                {% if not data.file_type == 'image' and not data.file_type == 'video' %}
                 <span style="font-size: 5rem;">📄</span> <!-- Используем символ для текстового файла -->

                <img src="{{ data.url }}" class="card-img-top" alt="{{ data.description }}">


                <div class="card-body">
                    <p class="card-text">{{ data.description }}</p>
                    <a href="{% url 'app_photo:edit_image' data.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'app_photo:remove_image' data.id %}" class="btn btn-primary">Delete</a>
                    <a href="{% url 'app_photo:download_image' data.id %}" class="btn btn-primary">Download</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <nav>
            <ul class="pager">

                <li class="previous">
                    <a class="{% if not image_data.has_previous %} disabled {% endif %}"
                       href="{% if image_data.has_previous %} {% url 'app_photo:paginator_show_another' image_data.previous_page_number %} {% else %} # {% endif %}">Previous<span aria-hidden="true">→</span></a>
                </li>
                <li class="next">
                    <a class="{% if not image_data.has_next %} disabled {% endif %}"
                       href="{% if image_data.has_next %} {% url 'app_photo:paginator_show_another' image_data.next_page_number %} {% else %} # {% endif %}">Next
                        <span aria-hidden="true">→</span></a>
                </li>

            </ul>
        </nav>
    </div>
</div>
{% endblock %}