{% extends "users/base_form.html" %}
{% block content %}

<div class="container mt-3">
        <h1 class="mb-4">Галерея медіафайлів</h1>
            <div class="row">
        {% for data in image_data %}
        <div class="col-md-6 mb-4">
            <div class="card">
                {% if data.file_type == 'image' %}
                <img src="{{ data.url }}" class="card-img-top" alt="{{ data.description }}">
                {% elif data.file_type == 'text' %}
                <div class="card-body text-center">
                    <span style="font-size: 5rem;">📄</span>
                </div>
                {% elif data.file_type == 'video' %}
                <div class="card-body">
                    <video controls class="card-img-top" style="max-width: 100%;">
                        <source src="{{ data.url }}" type="video/mp4">
                        Ваш браузер не підтримує відео.
                    </video>
                </div>
                {% endif %}
                <div class="card-body">
                    <p class="card-text">{{ data.description }}</p>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'app_photo:edit_image' data.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'app_photo:remove_image' data.id %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'app_photo:download_image' data.id %}" class="btn btn-success">Upload</a>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
        <nav class="pagination-nav ">
            <ul class="pager">

                <li class="previous">
                    <a class="{% if not image_data.has_previous %} disabled {% endif %}"
                       href="{% if image_data.has_previous %} {% url 'app_photo:paginator_gallery' image_data.previous_page_number %} {% else %} # {% endif %}">Previous<span aria-hidden="true">→</span></a>
                </li>
                <li class="next">
                    <a class="{% if not image_data.has_next %} disabled {% endif %}"
                       href="{% if image_data.has_next %} {% url 'app_photo:paginator_gallery' image_data.next_page_number %} {% else %} # {% endif %}">Next
                        <span aria-hidden="true">→</span></a>
                </li>

            </ul>
        </nav>
</div>
{% endblock %}


