{% extends "users/base_form.html" %}
{% block content %}
<div class="container mt-3">
    <h1>Галерея медиафайлов</h1>
    <div class="row mb-3">
        <div class="col-md-4">
            <a href="{%url 'app_photo:show_photo'%}" class="btn btn-primary btn-block">My photos</a>
        </div>
        <div class="col-md-4">
            <a href="{%url 'app_photo:show_video'%}" class="btn btn-primary btn-block">My video</a>
        </div>
        <div class="col-md-4">
            <a href="{%url 'app_photo:show_another'%}" class="btn btn-primary btn-block">Another Files</a>
        </div>
    </div>


    <div class="row">
        {% for data in image_data %}
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                {% if data.file_type == 'video' %}
                <video controls class="card-img-top" style="max-width: 100%;">
                    <source src="{{ data.url }}" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
                <div class="card-body">
                    <p class="card-text">{{ data.description }}</p>
                    <a href="{% url 'app_photo:edit_image' data.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'app_photo:remove_image' data.id %}" class="btn btn-primary">Delete</a>
                    <a href="{% url 'app_photo:download_image' data.id %}" class="btn btn-primary">Download</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}